* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8786c8;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: rgb(167, 49, 49);
    background-color: rgb(217, 234, 141);
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 30%;
    background-color: green;
    color: antiquewhite;
    border: none;
}

#new-btn,
#reset-btn {
    background-color: #191913;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

#new-btn:hover,
#reset-btn:hover {
    background-color: #ffb703;
    color: black;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 30%;
    background-color: green;
    color: antiquewhite;
    border: none;
}

#msg {
    color: #b3e8e8;
    font-size: 8vmin;
}

.msg-container {
    height: 20vmin;
}

.hide {
    display: none;
}

.o {
    color: #ff4d6d;
    /* Pink/Red */
    font-weight: bold;
}

.x {
    color: #00b4d8;
    /* Blue */
    font-weight: bold;
}

.box {
    font-size: 8vmin;
}